html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FFEACA   ;
  }
  
  .app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    text-align: center;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0 0 10px 0;
  }
  
  .header select {
    font-size: 1rem;
  }
  
  .slideshow {
    flex: 1;
    background-color:#FFDADA;
    position: relative;
    overflow: hidden;
    height: 50%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .9s ease-out;
    height: 70%;
  }
  
  .slide:nth-last-child(2) {
    opacity: 1;
    transform: scale(1.08);
  }